accelerate==0.22.0
bitsandbytes==0.41.1
cchardet
chardet
debugpy
decord==0.6.0
einops==0.6.1
fairscale==0.4.13
fastapi==0.103.1
flask
gradio==3.47.1
h5py
huggingface-hub==0.18.0
icecream
iopath
ipython
kornia==0.6.12
markdown2
mlconfig==0.1.8
mpmath==1.2.1
numpy
omegaconf==2.3.0
opencv-python
peft==0.5.0
psutil
pyyaml==6.0
regex==2022.10.31
ruamel.yaml
sconf
sentence-transformers
sentencepiece
tensorboard
tensorboardX
timm==0.9.7
tokenizers==0.13.3
torch==2.0.1
torchvision==0.15.2
tqdm
transformers==4.28.1
triton==2.0.0
uvicorn
wandb
